<div class="box flex-column mt5">
	<section class="flex-column pl5 pr5">
		<div class="flex-row">
			<h2>
				<b
					>Parce que votre identité ne se résume pas qu'à ce qu'on en
					voit...</b
				>
			</h2>
		</div>
		<div class="flex-row">
			<section class="flex-column just-center flex-60">
				<h2 class="mb5">
					De l'image de marque à <b>l'identité sonore !</b>
				</h2>
				<h3 class="mb2">
					Lab Music vous accompagne dans l'élaboration de votre
					<b>identité sonore</b> et donne une voix à votre enseigne !
				</h3>
				<p id="paragraph">
					Jingles, publicités, répondeurs téléphoniques, messages
					promotionnels...
				</p>

				<section class="flex-row align-center">
					<a href="#devis"
						><button class="btn">
							JE DÉCOUVRE MA VOIX !
							<hr class="hr1" /></button
					></a>
				</section>
			</section>
			<section class="flex-column align-end flex-40 pt5">
				<img id="img1" src="assets/img/micro_vecteur.png" alt="micro" />
			</section>
		</div>
	</section>
	<section class="flex-row pt5 pb5 pl5 pr5">
		<div class="flex-row flex-40 pb5">
			<img
				id="img2"
				src="assets/img/hp_unsplash.jpg"
				alt="haut-parleur"
			/>
		</div>
		<div id="bloc" class="flex-row flex-60">
			<h2 class="flex-fill">Pourquoi choisir <b>Lab Music ?</b></h2>
			<section class="flex-40 pr5">
				<h3><b>Technologie Net.Cast</b></h3>
				<p>
					Bénéficiez d'une <b>playlist unique</b> générée chaque jour
					parmi plus de 17 000 morceaux et 20 genres musicaux
					différents.
				</p>
			</section>
			<section class="flex-40 pl5">
				<h3><b>Diffusion Multi-Zone</b></h3>
				<p>
					Profitez en exclusivité d'une
					<b>programmation sonore évolutive</b> d'un espace à l'autre.
					Jusqu'à 8 zones simultanément.
				</p>
			</section>
			<section class="flex-40 pr5">
				<h3><b>Compositions originales</b></h3>
				<p>
					Cultivez votre différence en diffusant dans vos espaces des
					expériences sonores originales <b>composées sur mesure.</b>
				</p>
			</section>
			<section class="flex-40 pl5">
				<h3><b>Assistance 24h/24</b></h3>
				<p>
					Nous répondons à vos demandes <b>à distance</b> grâce à la
					cinnexion réseau établie avec chacun de ns équipements
					Net.Cast.
				</p>
			</section>
		</div>
	</section>

	<app-bandeau></app-bandeau>

	<section id="devis" class="flex-row just-center mt5 pt5 mb5">
		<article class="art pr5 pl5 mr2">
			<section class="titre pt2">
				<h3 class="mb2"><b>Diffusion Simple-Zone</b></h3>
				<p><small>sur devis</small></p>
			</section>
			<section class="contenu">
				<p>Audit de l'esâce à sonoriser</p>
				<p>Installation de la technologie Net.Cast</p>
				<p>
					Installation du système de sonorisation
					<small>(si besoin)</small>
				</p>
				<p>
					Installation du système de sécurité
					<small>(incendie)</small>
				</p>
				<p>Mise à jour régulière de la banque musicale</p>
				<p>Assistance à distance</p>
				<p><del>Diffusion Multi-Zone</del></p>
				<section class="flex-row just-center align-center">
					<button class="btn" (click)="direct(3)">
						DEMANDER VOTRE DEVIS
						<hr class="hr1" />
					</button>
				</section>
			</section>
		</article>

		<article class="art pl5 pr5 ml2">
			<section class="titre pt2">
				<h3 class="mb2"><b>Diffusion Multi-Zone</b></h3>
				<p><small>sur devis</small></p>
			</section>
			<section class="contenu">
				<p>Audit de l'esâce à sonoriser</p>
				<p>Installation de la technologie Net.Cast</p>
				<p>
					Installation du système de sonorisation
					<small>(si besoin)</small>
				</p>
				<p>
					Installation du système de sécurité
					<small>(incendie)</small>
				</p>
				<p>Mise à jour régulière de la banque musicale</p>
				<p>Assistance à distance</p>
				<p>Diffusion Multi-Zone</p>
				<section class="flex-row just-center align-center">
					<button class="btn" (click)="direct(3)">
						DEMANDER VOTRE DEVIS
						<hr class="hr1" />
					</button>
				</section>
			</section>
		</article>
	</section>
</div>
