<div class="box flex-row">
	<section class="txt flex-column just-center flex-40 pl5 pr5">
		<h1 class="mb5">
			Découvrez le son <br />qui colle à votre <br />image de marque !
		</h1>
		<p>Musiques, bruitages, spots publicitaires...</p>
		<p id="paragraph">
			Un environnement sonore sur mesure <br />pour votre enseigne.
		</p>
		<section class="flex-row align-center">
			<button class="btn linked" routerLink="prestations">
				NOS OFFRES
				<hr class="hr1" />
			</button>
		</section>
	</section>
	<section class="pic flex-row just-center flex-60 pb5">
		<img src="assets/img/casque.png" alt="casque" />
	</section>
</div>
