<div class="box flex-row">
	<section class="txt flex-column just-center flex-50 pl5">
		<h1>
			Découvrez le son qui colle à votre image de marque.
		</h1>
		<h2 class="mt2 mb5 l">
			Et offrez une expérience d'achat unique à vos clients !
		</h2>
		<p id="paragraph" class="l">Musiques, bruitages, spots publicitaires...
			Un environnement sonore sur mesure pour votre enseigne.
		</p>
		<section class="flex-row align-center just-center mr5">
			<button class="btn linked l" routerLink="prestations">
				NOS OFFRES
				<hr class="hr1" />
			</button>
		</section>
	</section>
	<section class="pic flex-row just-center flex-50 pb5">
		<img src="assets/img/casque.png" alt="casque" />
	</section>
</div>
