a {
	font-size: 2.4rem;
	line-height:2.7rem;
}

@media screen and (min-width: 1500px) {

	a {
		font-size: 2.6rem;
		line-height:2.9rem;
	}
}

@media screen and (max-width: 1200px) {

	a {
		font-size: 2.6rem;
		line-height: 2.9rem;
	}
}

@media screen and (min-width: 1000px) and (max-width: 1133px) {
	
	a {
		font-size: 2.1rem;
		line-height:2.4rem;
	}
}

@media screen and (min-width: 800px) and (max-width: 999px){
	google-map {
		margin-bottom: 20vh;
		padding-bottom: 20vh;
	}

	a {
		font-size: 2.1rem;
		line-height:2.4rem;
	}

}

@media screen and (min-width: 500px) and (max-width: 799px){
	google-map {
		margin-bottom: 20vh;
		padding-bottom: 20vh;
	}

	a {
		font-size: 2.1rem;
		line-height:2.4rem;
	}

}

@media screen and (max-width: 499px){
	google-map {
		margin-bottom: 20vh;
		padding-bottom: 20vh;
	}

	section {
		flex-direction: column;
	}

	a {
		font-size: 2.1rem;
		line-height:2.4rem;
	}

}


