@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

@import "./libs/reset";
@import "libs/variables";

//General


//TYPO
h1,
h2,
h5 {
	font-family: "Ubuntu", sans-serif;
	color: $TxtColor;
}
h3,
p,
a,
li,
.btn,
blockquote {
	font-family: "Roboto", sans-serif;
	color: $TxtColor;
}

h1 {
	font-size: 5rem;
	line-height: 5.3rem;
}

h2 {
	font-size: 3.6rem;
	line-height: 3.9rem;
}

h3 {
	font-size: 2.9rem;
	line-height: 3.2rem;
}

h5,
p,
.btn {
	font-size: 2.3rem;
	line-height: 2.6rem;
}

@media screen and (min-width: 1500px) {
	
	html {
		font-size: 90.2%;
	}
	
	h3 {
		font-size: 3rem;
		line-height: 3.3rem;
	}

	.xs {
		display: none;
	}

}

@media screen and (min-width: 1245px) and (max-width: 1499px) {

	.xs {
		display: none;
	}
}

@media screen and (min-width: 1134px) and (max-width: 1244px) {
	
	html {
		font-size: 55.6%;
	}

	.xs {
		display: none;
	}
}

@media screen and (min-width: 1000px) and (max-width: 1133px) {

	h3, b {
		font-size: 3rem;
		line-height: 3.2rem;
	}
	
	html {
		font-size: 55%;
	}

	.xs {
		display: none;
	}

	.logo {
		height: 10vh;
	}
}

@media screen and (min-width: 800px) and (max-width: 999px){
	
	html {
		font-size: 45%;
	}

	.xl {
		display: none;
	}

	#tabbar {
		z-index: 4;
	}
}

@media screen and (min-width: 500px) and (max-width: 799px) {

	html {
		font-size: 45%;
	}

	.xl { display: none;
	}

	#tabbar {
		z-index: 4;
	}
}


@media screen and (max-width: 499px) {

	html {
		font-size: 45%;
	}

	.xl { display: none;
	}

	.l { display: none;
	}

	

	#tabbar {
		z-index: 4;
	}
}





//MEP

.linked {
	cursor: pointer;
}

.ActiveLink1 {
	hr {
		width: 70%;
		border: 1px solid rgba(#000, 0.8);
	}

	&:hover {
		hr {
			width: 70%;
			border: 1px solid rgba(#000, 0.8);
		}
	}
}

.ActiveLink2 {
	hr {
		width: 70%;
		border: 1px solid rgba(#fff, 0.8);
	}
}

.ActiveLinkXS {
	hr {
		width: 100%;
		border: 1px solid rgba(#fff, 0.8);
	}
}


a,
li,
.btn,
.btn1 {
	@extend %Lien;
}

hr {
	@extend %HrLien;
}

.hr1 {
	width: 70%;
	border: 1px solid rgba(#000, 0.4);
}

.btn {
	border: none;
	background: none;
}

//Body

.fond {
	background: radial-gradient($LinearLight, $LinearDark);
}

.logo {
	height: 16vh;
}

#paragraph {
	margin-bottom: 10vh;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
