@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

@import "./libs/reset";
@import "libs/variables";

//General

h1,
h2,
h5 {
	font-family: "Ubuntu", sans-serif;
	color: $TxtColor;
}
h3,
p,
a,
li,
.btn,
blockquote {
	font-family: "Roboto", sans-serif;
	color: $TxtColor;
}

h1 {
	font-size: 3rem;
	line-height: 3rem;
}

h2 {
	font-size: 2.3rem;
}

h3 {
	font-size: 1.8rem;
}
h5,
p,
.btn {
	font-size: 1.4rem;
}

.linked {
	cursor: pointer;
}

.ActiveLink1 {
	hr {
		width: 70%;
		border: 1px solid rgba(#000, 0.8);
	}

	&:hover {
		hr {
			width: 70%;
			border: 1px solid rgba(#000, 0.8);
		}
	}
}

.ActiveLink2 {
	hr {
		width: 70%;
		border: 1px solid rgba(#fff, 0.8);
	}
}

a,
li,
.btn,
.btn1 {
	@extend %Lien;
}

hr {
	@extend %HrLien;
}

.hr1 {
	width: 70%;
	border: 1px solid rgba(#000, 0.4);
}

.btn {
	border: none;
	background: none;
	margin-left: 10vh;
}

//Body

.fond {
	background: radial-gradient($LinearLight, $LinearDark);
}

.logo {
	height: 16vh;
}

#paragraph {
	margin-bottom: 10vh;
}
